.vscode/
*.o
*.out

# Ignore tout le dossier build...
/build/*

# ...sauf ces exécutables
!/build/compositeur
!/build/decodeur
!/build/convertisseur
!/build/filtreur
!/build/redimensionneur


# Ignore tout le dossier Profilages
src/Profilages/*

# MAIS garder les images PNG
!src/Profilages/*.png
